<h2>Products</h2>
<div *ngFor="let product of products">

  <h3>
<a [title]="product.name + ' details'">
{{ product.name }}
</a>
</h3>

<p *ngIf="product.description">
Description: {{ product.description }}
</p>

<button (click)="share()">
Share
</button>

<!--to display ProductAlertsComponent as a child of ProductListComponent, add the <app-product-alerts> element to product-list.component.html. Pass the current product as input to the component using property binding.-->
<app-product-alerts
  [product]="product"
  (notify)="onNotify()">
</app-product-alerts>
<!--The new product alert component takes a product as input from the product list. With that input, it shows or hides the Notify Me button, based on the price of the product. The Phone XL price is over $700, so the Notify Me button appears on that product.
-->
</div>